body {
    margin: 0px 0px 0px 0px;
}

html {
    font-size: 12px;
}

.navigation {
    width: 100%;
    height: 6rem;
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation--position {
    z-index:1;
    display: flex;
    position: fixed;
    top: 0px;
}

.navigation__tag {
    font-size: 3rem;
    color: #ffffff;
    background-color: #0F0F0F;
}

.content { 
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 5.2rem);
    padding: 2.6rem 2.6rem 2.6rem 2.6rem;
}

.content__paragraph {
    flex-basis: 50%;
    font-size: 2rem;
    width: inherit;
    line-height: 3.5rem;
    flex-grow: 1;
}

.content--position {
    position: absolute;
    top: 6rem;
}

@media (orientation: landscape), (max-height: 700px) {
    .navigation--position {
      position: absolute;
    }
}

@media screen and (min-height: 700px) {
    .navigation--position {
      position: fixed;
    }
}

@media print {
    .navigation {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .content__paragraph {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 960px) {
    .content__paragraph {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 960px) and (max-width: 1280px) {
    .content__paragraph {
        flex-basis: 50%;
    }
} 

@media screen and (min-width: 1280px) {
    .content__paragraph {
        flex-basis: 33%;
    }
} 